.completed {
    background-color: green;
    color: white;
    font-size: medium;

}

.uncompleted{
    background-color: red;
    color: white;
    font-size: medium;
}

body {
    background-color: aqua;
}

h1 {
    text-align: center;
    color: purple
    
}

h2{
    text-align: center;
    color: purple;
}

#toDoTextinput{
    text-align: center;
}